.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 50px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 395px;
}

.register-container .content section h1 {
    margin: -40px 0 10px;
    font-size: 32px;  
    
}

.register-container .content section p {
    color: #737380;
    font-size: 18px;
    line-height: 20px;
}

.register-container section button {
    margin: 10px 10px 0 1px;
    background: #575b72;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    border: none;

    transition: 400ms;
}

.register-container section button:hover {
    background-color: rgb(141, 25, 52, 0.5);
}

form input,
form textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgb(141, 25, 52, 0.5);
    outline: none;
    font-size: 16px;
    margin: 2px;
    align-items: center;
}

form button {
    background: #575b72;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    transition: 400ms;
}

form button:hover {
    background-color: rgb(141, 25, 52, 0.5);
    text-decoration: none;
    
}

